*{
  box-sizing: border-box;
}
body{
  background-color: #23252C;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 317px;
  margin: 0 auto;
  margin-top: 2em;
}

.photo{
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  height: 317px;
  object-fit: cover;
}